h1 {
    font-family: 'Merriweather', serif;
    color: #e95cfc9d;
    margin-top: 50px;
    font-size: 45px;
    padding: 10px 0px;
}

.overflow {
    overflow: auto;
}

.input-container {
    display: block;
    float: left;
    margin-top: 50px;
    padding: 0px 20px;
    transition: opacity 0.8s linear;
    height: 140px;

}

label {
    font-size: 1;
    position: absolute;
    margin-left: 5px;
    margin-top: 2px;
}

input {
    height: 20px;
    width: 180px;
    opacity: 1;
    font-size: 14px;
    border-radius: 4px;
    margin-left: 3px;
    background-color: white;
    border: none;
    outline: none;
}

.outline{
    outline: 2px solid #002A32;
}

@media screen and (max-width: 1150px) {
    .input-container {
        margin-top: 0px;
        width: 100%;
        background-color: rgba(68, 68, 68, 0.527);
        border: 1px solid black;
    }

    h1 {
        font-family: 'Merriweather', serif;
        color: #e95cfc9d;
        margin-top:20px;
        font-size: 45px;
        padding: 10px 0px;
    }
}

@media screen and (max-width: 415px) {
    h1 {
        margin-top:20px;
        font-size: 36px;
        padding: 10px 0px;
    }

    .input-container {
        display: grid;
        float: none;
        margin-top: 0px;
        padding: 0px 0px;
        justify-content: center;
        height: 140px;
        }

    .input-container div {
        display: flex;
        justify-content: center;
    }

    label {
        color: rgba(0, 0, 0, 0.521);
        margin-right: 155px;
    }
}

@media screen and (max-height: 900px) and (min-width: 1151px) {
    h1 {
        margin-top:0px;
    }
}