.weather-container {
    width: 650px;
    height: 300px;
    margin: 30px 20px;
    box-shadow: rgba(8, 8, 8, 0.5) 0px 2px 4px 0px inset;
    border: 1px solid rgb(117, 106, 146);
    border-radius: 1px;
    background-color: rgba(255, 255, 255, 0.582);
    grid-column: 1;
    grid-row: inherit;
}

 .align {
    padding: 15px 10px;
    font-size: 18px;
}

.bold {
    font-weight: 700;
}

.thin {
    font-weight: 300;
}

.align.bold {
    font-size: 28px;
}

h3.align.bold {
    font-size: 30px;
    font-weight: 900;
}

.current-weather {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
}

.current-description {
    font-size: 24px;
}

.current-temp {
    font-size: 60px;
}

.current-icon {
    height: 120px;
}

.today {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 20% 50% 30%;
}

.todays > p {
    grid-column: span 4;
}

.daily-info {
    grid-row: 1;
    grid-column: span 5;
    width: 100%;
    height: 20%;
}

.daily-info img {
    height: 80px;
}

.time-of-day {
    grid-row: 2; 
    text-align: center;
    height: 100%;
    font-size: 20px;
    margin-top: 25%;
}

.time-of-day h3 {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 20px 0px;
}

.time-of-day p {
    padding: 20px 0px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

h3.end {
    border-right: none !important;
}

p.end {
    border-right: none !important;
}

.additional-today {
    grid-row: 3;
    grid-column: span 5;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

strong {
    font-weight: 700;
}

.weather-container-daily {
    width: 650px;
    height: 660px;
    margin: 30px 0px;
    box-shadow: rgba(8, 8, 8, 0.5) 0px 2px 4px 0px inset;
    border: 1px solid rgb(117, 106, 146);
    border-radius: 1px;
    background-color: rgba(255, 255, 255, 0.582);
    grid-column: 2;
    grid-row: 2 / span 2;
}

.days-container{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: repeat(7, 40%);
    overflow-y: auto;
}

.days {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    background-color: rgba(160, 160, 160, 0.282);
    grid-column: auto;
    display: flex;  
}

.offcolor {
    background-color: rgb(27, 27, 27, 0.382);
}

.day-name-container {
    position: relative;
}

.day-name {
    padding: 20px 4px;
    font-size: 40px;
    opacity: 20%;
    user-select: none;
    position: absolute;
}

.days-data {
    margin: auto;
}

.days-temperature {
    font-size: 32px !important;
    font-weight: 700;
}

.days-data p {
    font-size: 18px;
    padding: 4px 0px;
    text-align: center;
}

.days-data img {
    margin-top: -15px;
    margin-bottom: -18px;
}

/* extras */

.hidden {
    display: none;
}

.visually-hidden {
    visibility: none;
    opacity: 0;
}

@media screen and (max-width: 1350px){
    .weather-container, .weather-container-daily {
        width: 550px;
    }

    .time-of-day {
        font-size: 18px;
    }
}

@media screen and (max-width: 1150px){
    .weather-container {
        height: 300px;
        margin: 8px auto 20px auto;
        grid-row: inherit;
    }
    
    .weather-container-daily {
        margin: 20px auto;
        grid-column: 1;
        grid-row: 4;
        height: 280px;
        overflow-y: auto;
    }

    .days-container{
        overflow-y: unset;
        height: 200%;
        
    }
}

@media screen and (max-width: 665px){
    .weather-container, .weather-container-daily {
        width: 400px;
    }

    .today {
        grid-template-columns: repeat(4, 25%);
    }

    .heading {
        display: none;
    }

    .additional-today {
        grid-row: 3;
        grid-column: span 5;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 415px){
    .weather-container, .weather-container-daily {
        width: 312px;
    }
}



@media screen and (max-height: 900px) and (min-width:1151px) {
    .weather-container.current, .weather-container-daily {
       margin-top: -20px;
    }
}