.weather-container {
    width: 650px;
    height: 300px;
    margin: 60px 0px 0px 0px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.582);
}

 .align {
    padding: 15px 10px;
    font-size: 18px;
}

.bold {
    font-weight: 700;
}

.thin {
    font-weight: 300;
}

.align.bold {
    font-size: 24px;
}

h3.align.bold {
    font-size: 30px;
    font-weight: 900;
}

.current-weather {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
}

.current-description {
    font-size: 24px;
}

.current-temp {
    font-size: 60px;
}

.current-icon {
    height: 120px;
}

.today {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 20% 50% 30%;
}

.todays > p {
    grid-column: span 4;
}

.daily-info {
    grid-row: 1;
    grid-column: span 4;
    width: 100%;
    height: 20%;
}

.daily-info img {
    height: 80px;
}

.time-of-day {
    grid-row: 2; 
    text-align: center;
    height: 100%;
    font-size: 20px;
    margin-top: 25%;
}

.time-of-day h3 {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 20px 0px;
}

.time-of-day p {
    padding: 20px 0px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.end {
    border-right: none;
}

.additional-today {
    grid-row: 3;
    grid-column: span 5;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

strong {
    font-weight: 700;
}