html {
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
}

main {
    height: 100vh;
}

.bg-image{
    width: 100%;
    position: relative;
    background-image: url("./clouds.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.max-width {
    max-width: 1400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
}

@media screen and (max-width: 1150px) {
    .max-width { 
        grid-template-columns: 1fr;
    }
    .bg-image {
        height: 200%;
    }
}


